@model IEnumerable<ManualCRUD.Models.Student>
@{
    Layout = null;
}
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">
    <button class="btn-primary"><a href="/Student/Create" class="bg-danger">Add New</a></button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Stream</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.LastName</td>
                <td>@item.Mobile</td>
                <td>@item.Email</td>
                <td>@item.Stream</td>
                <td><img src="/Images/@item.Image" class="img-circle" alt="Image Not Available" style="height:50px;width:50px;"/></td>
                <td></td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Stream</th>
                <th>Image</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</body>
</html>